__pycache__/
*.py[cod]
*$py.class

.Python
build/
dist/
*.egg-info/
.eggs/

.ipynb_checkpoints/

.env
.venv
env/
venv/

.mypy_cache/
.pytest_cache/

.vscode/

# Data & artifacts
data/raw/
data/interim/
data/processed/
artifacts/models/
artifacts/runs/
